/* Background image */
body, html {
    height: 100%;
}

.bg { 
    background-image: url("..\..\images\background.jpg");
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    background-color: white;
}
/* Navigation Bar */
.judul{
	margin : 20px;
}

.navibar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navibar li{
    display: inline;
}

.navibar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navibar li a:hover {
    background-color: #111;
}

.container-fluid{
    padding: 0;
}

/* search box */
.search-box{
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 10px;
    border-style : none;
    margin-top: 20px;
   }
.search-txt{
    border-style : hidden;
    border-color : #d9d9d9;
    background-color : #d9d9d9;
   }
.btn-search{
    background-color : #d9d9d9;
    border-style : none;
   }
   .btn-login{
    background-color : white;
    border-style : none;
    color: #d9d9d9;
    margin-top: 20px;
   }

/* Login Page */
.login{
	background-color: #d9d9d9;
	height: 40px;
	border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.register{

	background-color: #d9d9d9;
	height: 40px;
	border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.uname{
	background-color: #d9d9d9;
    border-radius: 10px;
    margin: 10px;

}
.password{
	background-color: #d9d9d9;
    border-radius: 10px;
    margin: 10px;
}

.form-login{
    margin: 100px;
    text-align: center;
}

/* homepage */
.table2{
	margin-left : 20px;
	width : 500px;
	list-style : none;
}


