<!DOCTYPE html>
<html>
<head>
	<title>
		VRD MUSIC
	</title>
</head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.4.1/css/all.css' integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz' crossorigin='anonymous'>
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="homestyle.css">
<body>
	<table class="table1">
		<tr>
			<td><div class="search-box">
				<input class="search-txt" name="" placeholder="Search">
				<button class="btn-search" type="submit" onclick="alert('Test')"><i class="fa fa-search"> </i></button>
				<a class="search-btn" href="#"> 
			</div></td>
			<td>
				<button class="btn-login" style='font-size:32px' type="submit"><i class="fas fa-user-circle"></i></button>
			</td>
		</tr>
	</table>
	
	<div class="container-fluid">
        <h1 class="judul">
            VRD MUSIC
        </h1>
        <div class="navibar row">
            <div class="col-md-3 col-xs-12">
                <li><a href="Home.html">Beranda</a></li>
            </div>
            <div class="col-md-3 col-xs-12">
                <li><a href="news.asp">Rilisan Baru</a></li>
            </div>
            <div class="col-md-3 col-xs-12">   
                <li><a href="contact.asp">Rekomendasi</a></li>
            </div>
            <div class="col-md-3 col-xs-12">
                <li><a href="about.asp">Top 10</a></li>
            </div>
                  
        </div>
    </div>
				<br>
				<br>
			<center><h3><br> ACI </h3>
				<br> Song List :
				<br>
				<br> Cinta Seribu Malam
				<br> Aku dan Bang Somay
				<br> Temanku Naufal
				<br> Sahabatku Rais
				<br> Kenapa Kamu Ngatain Aku
				<br> Delphiku Cintaku
				<br> Ci Yoi
				<br> Cimahi Kenapa Apaan
				<br> Diskusi Luci
				<br> Tidur di Kamar Teman
				<br> Makan Bareng
				
			</center>
	</body>