
.search-box{
	position: absolute;
	top: 10%;
	left: 80%;
	transform: translate(-10%,-80% ); 
	background-color: grey;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
	border-style : none;
}

.search-txt{
	border-style : hidden;
	border-color : grey;
	background-color : grey;
}
.btn-search{
	background-color : grey;
	border-style : none;
}
.btn-login{
	position : absolute;
	top : 3.8%;
	left : 95%;
	background-color : white;
	border-style : none;
	border-radius : 0px;
	size : 200 px;
	color: grey;
}
.judul{
	margin : 20px;
}

.navibar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navibar li{
    display: inline;
    float: left;
}

.navibar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navibar li a:hover {
    background-color: #111;
}

.top li{
    display: inline;
    float: left;
}

.top li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.table2{
	margin-left : 20px;
	width : 500px;
	list-style : none;
}


.container-fluid{
    padding: 0;
}
