<!DOCTYPE html>
<html>
<head>
	<title>
		VRD MUSIC
	</title>
</head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.4.1/css/all.css' integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz' crossorigin='anonymous'>
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="homestyle.css">
<body>
	<table class="table1">
		<tr>
			<td><div class="search-box">
				<input class="search-txt" name="" placeholder="Search">
				<button class="btn-search" type="submit" onclick="alert('Test')"><i class="fa fa-search"> </i></button>
				<a class="search-btn" href="#"> 
			</div></td>
			<td>
				<button class="btn-login" style='font-size:32px' type="submit"><i class="fas fa-user-circle"></i></button>
			</td>
		</tr>
	</table>
	
	<div class="container-fluid">
        <h1 class="judul">
            VRD MUSIC
        </h1>
        <div class="navibar row">
            <div class="col-md-3 col-xs-12">
                <li><a href="Home.html">Beranda</a></li>
            </div>
            <div class="col-md-3 col-xs-12">
                <li><a href="news.asp">Rilisan Baru</a></li>
            </div>
            <div class="col-md-3 col-xs-12">   
                <li><a href="contact.asp">Rekomendasi</a></li>
            </div>
            <div class="col-md-3 col-xs-12">
                <li><a href="about.asp">Top 10</a></li>
            </div>
                  
        </div>
    </div>
	<br>
	<table class="table2">
	<tr><td><center><h5>TOP SONG</h5></center></td>
		<td><center><h5>WHAT'S HOT?</h5></center></td></tr>
	<tr><td><center><li><a href="Aci-CintaSeribuMalam.html"> Aci - Cinta Seribu Malam </a></li></center></td>
		<td><center><li><a href= "Aci-SongList.html">FOTO ACI</center></a></li> </td></tr>
	<tr><td><center><li><a href=""> Rizal - Kenapa Begitu </a></li></center></td></tr>
	<tr><td><center><li><a href=""> Rais - Kenapa Begini </a></li></center></td></tr>
	</table>
</body>
</html>