
<!DOCTYPE html>
<html>
<head>
	<title>
		VRD MUSIC
	</title>
</head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="myStyle.css">
	<link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.4.1/css/all.css'>
<body class="bg">
	<div class="container-fluid header">
		<div class="row">
			<div class="col-md-4">
				<h1 class="judul">
					VRD MUSIC
				</h1>
			</div>
			<div class="col-md-3 col-md-offset-5">
				<table>
					<tr>
						<td>
							<div class="search-box">
								<input class="search-txt" name="" placeholder="Search">
								<button class="btn-search" type="submit" onclick="alert('Test')">
									<i class="fa fa-search"> </i>
								</button>
									<a class="search-btn" href="#"> 
							</div>
						</td>
						<td>
							<button class="btn-login" style='font-size:32px' type="submit">
								<i class="fas fa-user-circle"></i>
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div> 
		
		<div class="navibar row">
			<div class="col-md-3 col-xs-12">
				<li><a href="homepage.html">Beranda</a></li>
			</div>
			<div class="col-md-3 col-xs-12">
				<li><a href="news.asp">Rilisan Baru</a></li>
			</div>
			<div class="col-md-3 col-xs-12">   
				<li><a href="contact.asp">Rekomendasi</a></li>
			</div>
			<div class="col-md-3 col-xs-12">
				<li><a href="about.asp">Top 10</a></li>
			</div>
					
		</div>
		
	</div>
	<div style="color: white">
	<center>
		<br>
		<br><h3>ACI - CINTA SERIBU MALAM</h3>
	
	<br>
	<br>Cinta Aci di seribu malam
	<br>Tiap malam menunggu abang somay	
	<br>Tapi abang somay tidak kunjung datang
	<br>Bagaimana aku malam ini
	<br>
	<br>
	<br>Oh abang somay
	<br>Aku menunggumu datang
	<br>Hingga seribu malam
	<br>Akhirnya engkau datang
		</center>
	</div>
	<!-- <script src="script.js"></script>	 -->
</body>
</html>