<!DOCTYPE html>
<html>
<head>
	<title>
		MOCKUP
	</title>
</head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="style.css">
<body>
	<table>
		<tr>
			<td><h1>VRD LYRICS</h1> </td>
			<td> 
				<div class="search-box">
					<input class="search-txt" name="" placeholder="Search..">
					<button type="submit"><i class="fa fa-search"> </i></button>
					<a class="search-btn" href="#"> 
				</div>
			</td>
		</tr>
		<tr> 
			<td>
				<h3> CATEGORIES </h3>
			</td>
		</tr>
	</table>
</body>
</html>