<!DOCTYPE html>
<html>
<head>
	<title>
		VRD MUSIC
	</title>
</head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="style.css">
<body>
	<table>
		<tr>
			<td><h1>VRD MUSIC</h1> </td>		
			<td> <div class="search-box">
				<input class="search-txt" name="" placeholder="Search">
				<button class="btn-search" type="submit" onclick="alert('Test')"><i class="fa fa-search"> </i></button>
				<a class="search-btn" href="#"> 
			</div></td>
		</tr>
			<tr>
				<td><input type="submit" name="login" onclick="alert('Test')" class="Login" value="Login"></td>
				<td> 
					<input onclick="alert('Test')" type="submit" name="register" class="register" value="Register">
				</td>
			</tr>
			<td>
				<tr>
					<form action="/action_page.php">
						<input type="text" name="uname" class="uname" placeholder="Username"><br>
						<input type="Password" name="Password" class="Password" placeholder="Password"><br>
					</form>
				</tr>
			</td>
	</table>
	<script src="script.js"></script>	
</body>
</html>